<div>
        <h1>
            <div class="adminbtnstyle" >
            <!--<button class="adminbtn" onclick="document.getElementById('id01').style.display='block'">Admin</button>-->
            <a class="adminbtn" routerLink="/home" routerLinkActive="active">Log Out</a>
            </div>
        </h1>
      </div>
      <div>
      <div>
              <ul class="nav">
                <li>
                  <a routerLink="/admin" routerLinkActive="active">Home</a>
                  <a routerLink="/index" routerLinkActive="active">Players</a>
                  <a routerLink="/games" routerLinkActive="active">Games</a>
                </li>
              </ul>
          </div>
          <h3>{{title}}</h3>
<button  color="primary"><a routerLink='/create'>Create new Player</a></button>

<table class="table table-hover">
    <thead>
    <tr>
        <td>Player Name</td>
        <td>Rank</td>
        <td>Score</td>
        <td>Time</td>
        <td>Games Played</td>
        <td>Status</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let player of players">
            <td>{{ player.playerName }}</td>
            <td>{{ player.rank }}</td>
            <td>{{ player.score }}</td>
            <td>{{ player.time }}</td>
            <td>{{ player.gamesPlayed }}</td>
            <td>{{ player.status }}</td>
            <td><button><a [routerLink]="['/edit', player._id]" class="btn btn-primary">Edit</a></button></td>
            <td><button (click)="deletePlayer(player._id)"  class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
  </table>
 

  