<html>
<body>
  <div class='header'>
<nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <form class="form-inline">    
                  <button class="btn-primary my-2 my-sm-0 mr-2 btn"
                    routerLink="/" type="button"><a>
                      Home</a>
                  </button> <br>
              <button id="qsLoginBtn"
                class="btn-primary my-2 my-sm-0 btn"
                *ngIf="!auth.isAuthenticated()"
                (click)="auth.login()" type="button">
                  Log In
              </button><br>
      
              <button id="qsLogoutBtn"
                class="btn btn-primary my-2 my-sm-0"
                *ngIf="auth.isAuthenticated()"
                (click)="auth.logout()" type="button">
                  Log Out
              </button>
      
            </form>
        </div>
      </nav>
<h1 style="font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: -55px 0 0px 24px; text-align: center; text-transform: uppercase;">{{title}}</h1>
</div>
<router-outlet></router-outlet>
    </body>
</html>