
h1{
    margin-left: 653px;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    margin-left: 100px;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
 }
.containerContent{
        margin: 15px 270px 0 425px;
}
.adminbtnstyle{
    margin: -45px 0 0 765px;
}
.adminbtn{
    background-color: lightgrey;
    border: 2px solid darkgray;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.adminLink{
    color: black;
    text-decoration: none;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.btn
{
    width: 150px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: white;
}

.header { 
    background-image: url(../assets/img/clouds.gif); 
  }
.pages{
    background-image: url(../assets/img/bg.gif);
  }
