h1{
    margin-left: 653px;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    margin-left: 100px;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
 }
.containerContent{
        margin: 15px 270px 0 425px;
}
.adminbtnstyle{
    margin: -45px 0 0 765px;
}
.adminbtn{
    background-color: lightgrey;
    border: 2px solid darkgray;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.adminLink{
    color: black;
    text-decoration: none;
}
