
<div>
  <h1>
      <div class="adminbtnstyle" >
      <!--<button class="adminbtn" onclick="document.getElementById('id01').style.display='block'">Admin</button>-->
      <a class="adminbtn" routerLink="/admin" routerLinkActive="active">Admin</a>
      </div>
  </h1>
</div>
<div>
      <ul class="nav">
        <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
      </ul>
  </div>
  <h3>{{title}}</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <td>Player Name</td>
        <td>Rank</td>
        <td>Score</td>
        <td>Time</td>
        <td>Games Played</td>
        <td>Status</td>
        <td>Action</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let player of players">
            <td>{{ player.playerName }}</td>
            <td>{{ player.rank }}</td>
            <td>{{ player.score }}</td>
            <td>{{ player.time }}</td>
            <td>{{ player.gamesPlayed }}</td>
            <td>{{ player.status }}</td>
            <td><button>Join Game</button></td>
        </tr>
    </tbody>
  </table>
    <!--
  <div id="id02" class="modal">
      <span onclick="document.getElementById('id02').style.display='none'" 
    class="close" title="Close Modal">&times;</span>
      <form class="modal-content animate">
       
    
        <div class="container">
          <label for="pname"><b>Player:</b></label>
          <br>
          <label for="rank"><b>Rank:</b></label>
          <br>
          <label for="score"><b>Score:</b></label>
          <br>
          <label for="time"><b>Time:</b></label>
          <br>
          <label for="games"><b>Favourite Game:</b></label>
          <br>
          <label for="status"><b>Customer: </b></label>         
                <select>
                  <option disabled selected>Select Game</option>
                    <option>League of Legends</option>
                    <option>World of Warcraft</option>
                    <option>Call of Duty</option>
                    <option>Minecraft</option>
                    <option>Dota</option>
                </select>
          <br>
          <button class="joingamebtn" type="submit">Join Game</button>
        </div>
      </form>
    </div>
    <script>
          var modal = document.getElementById('id02');
          
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
          </script>
        -->
        <router-outlet></router-outlet>