
<div>
    <h1>
        <div class="adminbtnstyle" >
        <!--<button class="adminbtn" onclick="document.getElementById('id01').style.display='block'">Admin</button>-->
        <a class="adminbtn" routerLink="/admin" routerLinkActive="active">Admin</a>
        </div>
    </h1>
</div>
<div>
        <ul class="nav">
          <li>
              <a routerLink="/players" routerLinkActive="active">Players</a>
          </li>
        </ul>
    </div>
    <h3>
        Welcome to Video Games+
    </h3>
    <p>
        If you are a player, you may do the following:
    </p>
          <ul>
            <li>
              View Catalaogue of Players
            </li>
            <li>
              View Player Information
            </li>
            <li>
              Join a Game, if you are the player
            </li>
          </ul>
    <p>
        If you are an Administrator, you will find the Admin button on the top right 
        <br>
        where you may login to do the following:
    </p>
    <ul>
            <li>
              Create a New Player
            </li>
            <li>
              Edit Exisiting Players
            </li>
            <li>
              Delete a Player Profile
            </li>
            <li>
              View the List of Games Available
            </li>
        </ul>
