
<div>
        <ul class="nav">
          <li>
            <a routerLink="/admin" routerLinkActive="active" style="font-size: 30px;">Home</a>
            <a routerLink="/index" routerLinkActive="active" style="font-size: 30px;">Players</a>
            <a routerLink="/games" routerLinkActive="active" style="font-size: 30px;">Games</a>
          </li>
        </ul>
    </div>
    <div class="center">
    <div><br>
        <h3 style="font-family: 'Raleway',sans-serif; font-size: 35px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">{{title}}
        </h3>
    </div>
    <p>
      The Adminstrators' view gives the administrator advanced privilages such as:
    </p>
    <ul>
      <li>
        Create a New Player
      </li>
      <li>
        Edit Exisiting Players
      </li>
      <li>
        Delete a Player Profile
      </li>
      <li>
        View the List of Games Available
      </li>
    </ul>
  </div>