
<div>
    <h1>
        <div class="adminbtnstyle" >
        <!--<button class="adminbtn" onclick="document.getElementById('id01').style.display='block'">Admin</button>-->
        <a class="adminbtn" routerLink="/admin" routerLinkActive="active">Admin</a>
        </div>
    </h1>
  </div>
  <div>
        <ul class="nav">
          <li>
              <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
        </ul>
    </div>
<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>

<div class="panel-body">
  <form [formGroup]="angForm" novalidate class="modal-content animate">
    <div class="form-group">
      <label class="col-md-4">Player Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <label class="form-control" >{{player.playerName}}</label>
    </div>
    <div class="form-group">
      <label class="col-md-4">Rank: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <label class="form-control" >{{player.rank}}</label>
    </div>
    <div class="form-group">
      <label class="col-md-4">Score: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <label class="form-control" >{{player.score}}</label>
    </div>
     <div class="form-group">
      <label class="col-md-4">Time: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <label class="form-control" >{{player.time}}</label>
    </div>
    <div class="form-group">
      <label class="col-md-4">Games Played: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <label class="form-control" >{{player.gamesPlayed}}</label>            
    </div>
     <div class="form-group">
      <label class="col-md-4">Status: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <label class="form-control" >{{player.status}}</label>
    </div>
    <div class="form-group">
    <label class="col-md-4">Customer: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
    <select class="form-control" ng >
        <option disabled selected>Select Game</option>
          <option>League of Legends</option>
          <option>World of Warcraft</option>
          <option>Call of Duty</option>
          <option>Minecraft</option>
          <option>Dota</option>
      </select>
    </div>
            <div class="form-group">
              <button (click)="joinGame(player.playerName, player.rank, player.score, player.time, player.gamesPlayed, player.status)" >Join</button>
           </div>
          </form>
          </div>