


      <div>
        <ul class="nav">
          <li>
            <a routerLink="/admin" routerLinkActive="active">Home</a>
            <a routerLink="/index" routerLinkActive="active">Players</a>
            <a routerLink="/games" routerLinkActive="active">Games</a>
          </li>
        </ul>
    </div>


  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Player Name</label>
        <input type="text" class="form-control" formControlName="playerName" #playerName [(ngModel)] = "player.playerName"/>
      </div>

      <div class="form-group">
        <label class="col-md-4">Current Rank:</label>
        <label type="text" class="form-control" >{{player.rank}}</label>
      </div>

      <div class="form-group">
        <label class="col-md-4">New Rank</label>
        <select class="form-control" formControlName="newrank" [(ngModel)]='rank.rank'>
            <option *ngFor="let r of rank" [ngValue]='r'>
              {{r}}
            </option>
          </select>
      </div>

      <div class="form-group">
        <label class="col-md-4">Score</label>
        <input type="text" class="form-control" formControlName="score" #score [(ngModel)] = "player.score"/>
      </div>

      <div class="form-group">
        <label class="col-md-4">Time</label>
        <input type="text" class="form-control" formControlName="time" #time [(ngModel)] = "player.time"/>
      </div>

      <div class="form-group">
        <label class="col-md-4">Favourite Game</label>
        <select class="form-control" formControlName="gamesPlayed" #gamesPlayed [(ngModel)]='player.gamesPlayed'>
            <option *ngFor="let game of games" [ngValue]='game.title'>
              {{game.title}}
            </option>
          </select>
      </div>
      
      <div class="form-group">
        <label class="col-md-4">Status</label>
        <select  formControlName="status" [(ngModel)] = "statuses.status">
          <option  *ngFor='let stat of statuses' [ngValue]='stat.st' >
            {{stat.st}}
          </option>
        </select>
      </div>
      
      <div class="form-group">
        <button  (click)="updatePlayer(playerName.value, rank.rank, score.value, time.value, gamesPlayed.value, statuses.status)">Update</button>
     </div>
    </form>
  </div>