<div>
    <h3>Games Catalogue</h3>
    <mat-card>
      
      <table mat-table [dataSource]="games">
        
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title &nbsp;  </th>
          <td mat-cell *matCellDef="let element">{{element.Title}}</td>
        </ng-container>
        <ng-container matColumnDef="platform">
          <th mat-header-cell *matHeaderCellDef>Platform &nbsp; </th>
          <td mat-cell *matCellDef="let element">{{element.Platform}}</td>
        </ng-container>
  
        <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef>Genre &nbsp; </th>
          <td mat-cell *matCellDef="let element">{{element.Genre}}</td>
        </ng-container>
  
        <ng-container matColumnDef="Rating">
          <th mat-header-cell *matHeaderCellDef>Rating &nbsp; </th>
          <td mat-cell *matCellDef="let element">{{element.Rating}}</td>
        </ng-container>
  
        <ng-container matColumnDef="Publisher">
          <th mat-header-cell *matHeaderCellDef>Publisher &nbsp; </th>
          <td mat-cell *matCellDef="let element">{{element.Publisher}}</td>
        </ng-container>
  
        <ng-container matColumnDef="Release">
          <th mat-header-cell *matHeaderCellDef>Release &nbsp; </th>
          <td mat-cell *matCellDef="let element">{{element.Release}}</td>
        </ng-container>
  
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{element.Status}}</td>
          </ng-container>
       
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  <!--MAKES SURE ALL VALUES ARE DISPLAYED-->
  
      </table>
    </mat-card>
  </div>