.center
{
    text-align: center;
    background-image: url(../../../../assets/img/bg.gif);
    background-size: cover;
}

.tablecenter {
    margin-left:auto; 
    margin-right:auto;
  }

h1{
    margin-left: 653px;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    margin-right: 125px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    margin-left: 100px;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
 }
.containerContent{
        margin: 15px 270px 0 425px;
}
.adminbtnstyle{
    margin: -45px 0 0 765px;
}
.adminbtn{
    background-color: lightgrey;
    border: 2px solid darkgray;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.adminLink{
    color: black;
    text-decoration: none;
}

.btn
{
    width: 150px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: white;
}

table{
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(113,206,239,1) 50%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );

}

.filter{
    margin: 0 25px 0 0px;
}