
      <div>
              <ul class="nav">
                <li>
                  <a routerLink="/admin" routerLinkActive="active" style="font-size: 30px;">Home</a>
                  <a routerLink="/index" routerLinkActive="active" style="font-size: 30px;">Players</a>
                  <a routerLink="/games" routerLinkActive="active" style="font-size: 30px;">Games</a>
                </li>
              </ul>
          </div>
          <div class="center"><br>
          <h2 style="font-family: 'Raleway',sans-serif; font-size: 35px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">{{title}}</h2>

          <input [(ngModel)]="searchText" placeholder="search text goes here"><br><br><br>
          <table class="table table-hover tablecenter">
              <thead>
              <tr>
                  <td>Title</td>
                  <td>Platform</td>
                  <td>Genre</td>
                  <td>Rating</td>
                  <td>Publisher</td>
                  <td>Release</td>
                  <td>Status</td>
              </tr>
              </thead>
            
              <tbody>
                  <tr *ngFor="let game of games | filter : {title: searchText, platform: searchText, 
                      genre: searchText, rating: searchText, publisher: searchText, release: searchText, status: searchText}  ">
                      <td>{{ game.title }}</td>
                      <td>{{ game.platform }}</td>
                      <td>{{ game.genre }}</td>
                      <td>{{ game.rating }}</td>
                      <td>{{ game.publisher }}</td>
                      <td>{{ game.release }}</td>
                      <td>{{ game.status }}</td>
                  </tr>
              </tbody>
            </table></div>